@import '~antd/dist/antd.css';

* {
    box-sizing: border-box;
    outline: 0 !important;
    margin: 0;
    overflow: hidden;
}

.app-container {
    min-height: 100vh;
    width: 100%;
    background-color:  #e6e6e6;
}

.ant-layout {
    background-color:  #e6e6e6 !important; 
}

.ant-page-header {
    background-color: #111d2c;
}

.ant-page-header-heading-title {
    color: #ffffff;
}

.ant-space-item button{
    background-color: #15395b;
    border-color: #15395b;
    color: #ffffff;
}

.ant-space-item button:hover{
    background-color: #164c7e;
    border-color: #164c7e;
    color: #ffffff;
}

.ant-space-item button:focus {
    background-color: #164c7e;
    border-color: #164c7e;
    color: #ffffff;
}

.logo h1{
    color: #ffffff;
}

@media (max-width: 1199px) {
    .ant-layout-content {
        padding: 0 0px !important;
    }
}

button {
    border-radius: 4px !important;
}